@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 48px;
  position: absolute;
  height: 808px;
  left: 259px;
  margin-top: 247px;
}

section .about-me {
  background-image: url("assets/images/illustration\ about\ me\ desktop.png");
  background-repeat: no-repeat;
  position: absolute;
}

.getresume {
  width: 159px;
  height: 48px;
  margin-left: 580px;
}

.about-me h3 {
  width: 447px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin-left: 553px;
  margin-bottom: 16px;
  margin-top: -75px;
}

.about-me p {
  width: 920px;
  height: 96px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-left: 200px;
}

.btn-success {
  color: white;
  font-family: "Inter", sans-serif;
  padding: 0.75em;
  border-radius: 4px;
  background-color: #36b37f;
}

.about-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 24px;
  height: 350px;
  margin-right: -188px;
  margin-top: 195px;
}

.about-cards h3 {
  position: relative;
  width: 337px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  top: 29px;
}

.about-cards li {
  width: 65px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-cards img {
  width: 334px;
  height: 135px;
  margin-top: 39px;
}

.col-sm-4 {
  width: 369px;
  height: 352px;
  background-color: #c8dcd5;
  margin-left: 15px;
  border-radius: 10px;
}

div .list-group-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 250px;
  height: 139px;
  margin-left: 34px;
}

div .list-group-horizontal li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

div .list-group-horizontal1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 267px;
  height: 113px;
  margin-left: 34px;
}

div .list-group-horizontal1 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

div .list-group-horizontal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 250px;
  height: 112px;
  margin-left: 22px;
}

div .list-group-horizontal2 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

div .list-group-horizontal3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 172px;
  height: 40px;
  margin-top: -44px;
  margin-left: 79px;
}

div .list-group-horizontal3 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

div .list-group-horizontal4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 77px;
  height: 40px;
  margin-top: -46px;
  margin-left: 131px;
}

div .list-group-horizontal4 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

div .list-group-horizontal5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 77px;
  height: 40px;
  margin-top: -119px;
  margin-left: -350px;
}

div .list-group-horizontal5 li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 0;
  gap: 24px;
  position: absolute;
  width: 1171px;
  height: 490px;
  left: 311px;
  top: 3139px;
  margin-top: -121px;
}

.contact-form p {
  width: 484px;
  height: 438px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: -56px;
  background-color: #fff;
  margin-top: -89px;
}

.form-container {
  padding: 0;
  gap: 24px;
  width: 684px;
  height: 330px;
  margin-left: 62px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email {
  width: 660px;
  margin-top: 10px;
}

.fname {
  width: 328px;
  margin-top: 10px;
}

.lname {
  width: 328px;
  margin-top: 10px;
}

input,
textarea {
  padding-inline-start: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

input {
  padding-block: 1em;
  color: #6b778c;
  height: 48px;
}

textarea {
  padding-block-start: 1em;
  font-style: normal;
  color: #091e42;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 660px;
  height: 114px;
  margin-top: 10px;
}

button {
  width: 150px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
}

button :hover {
  filter: drop-shadow(0 2px 2px var(--maastricht-blue));
  background-color: var(--bright-gray);
  color: var(--maastricht-blue);
}

button :active {
  background-color: var(--spanish-viridian);
  filter: none;
}

footer {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0;
  gap: 15px;
  align-items: flex-end;
  list-style-type: none;
  margin-top: 578px;
  margin-left: 382px;
}

/* Ani7 */
.containers {
  background-image: url("assets/images/Header-llustration-desktop@2x.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 97.17vw 103.36vh;
}

.nav-link {
  color: #172b4d;
}

.h-main-header {
  font-family: sans-serif, "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #172b4d;
}

.header-sec {
  padding-top: 25.2vh;
  padding-left: 18vw;
  padding-right: 18vw;
  padding-bottom: 36.5vh;
}

.arrow-down {
  margin-top: 84px;
}

.green {
  color: #36b37f;
}

/* for the works */
.card-container {
  padding-left: 6vw;
  margin-left: 10vw;
  margin-right: initial;
  margin-top: 52px;
}

.card-image {
  max-height: 252px;
}

.fonts {
  font-family: sans-serif, "Poppins";
  font-style: normal;
}

.works-h2 {
  font-family: sans-serif, "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.w-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #172b4d;
}

.card-tech {
  font-family: sans-serif, "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #172b4d;
  background: #ebf0ee !important;
}
