@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 48px;
  position: absolute;
  width: 1171px;
  height: 808px;
  left: 83px;
  top: 2385px;
}

.about_me {
  background: url("./assets/images/illustration\ about\ me\ desktop.svg') no-repeat 10px");
  background-position: top -30px right, bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  gap: 10px;
  overflow: hidden;
  padding-block: 1em;
}

.about-me h3 {
  margin-block-start: 20px;
  margin-inline-start: 1em;
  width: 447px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.about-me-text {
  width: 920px;
  height: 96px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.btn-success {
  color: white;
  font-family: "Inter", sans-serif;
  padding: 0.75em;
  border-radius: 4px;
  background-color: #36b37f;
}

.about-cards h3 {
  width: 337px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-cards li {
  width: 65px;
  height: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px 0;
  gap: 24px;
  position: absolute;
  width: 1171px;
  height: 490px;
  left: 135px;
  top: 3139px;
}

.contact-form p {
  width: 463px;
  height: 256px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-left: -56px;
}

.form-container {
  padding: 0;
  gap: 24px;
  width: 684px;
  height: 330px;
  margin-left: 62px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email {
  width: 660px;
  margin-top: 10px;
}

.fname {
  width: 328px;
  margin-top: 10px;
}

.lname {
  width: 328px;
  margin-top: 10px;
}

input,
textarea {
  padding-inline-start: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

input {
  padding-block: 1em;
  color: #6b778c;
  height: 48px;
}

textarea {
  padding-block-start: 1em;
  font-style: normal;
  color: #091e42;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 660px;
  height: 114px;
  margin-top: 10px;
}

button {
  width: 129px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
}

button :hover {
  filter: drop-shadow(0 2px 2px var(--maastricht-blue));
  background-color: var(--bright-gray);
  color: var(--maastricht-blue);
}

button :active {
  background-color: var(--spanish-viridian);
  filter: none;
}

footer {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0;
  margin-block-start: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-block-end: 4em;
}

.navbar > .container-fluid {
  margin-top: 10px;
}
